* {
  font-family: "Lato", sans-serif;
}

body,
HTML {
  margin: 0 auto;
  height: 100%;
  background-image: radial-gradient(circle, #8ea1b1, #3171a5, #8ea1b1);
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/QuandaryPeakFall2020-mobile.jpeg);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  overflow: hidden;
}

h1 {
  margin-top: 300px;
  text-align: center;
  font-size: xxx-large;
  font-weight: 100;
  color: white;
  padding: 0 5% 0 5%;
}

.hero-text {
  text-align: center;
}

h2 {
  /* margin-top: 5%; */
  text-align: center;
  font-size: xxx-large;
  font-weight: 300;
  color: white;
  /* color: #3171a5; */
}

h3 {
  color: #3171a5;
}

.nav-links {
  display: flex;
  margin-top: 30px;
}

.nav-links li {
  color: white;
  list-style: none;
  flex: left;
  margin: 0 2% 0 2%;
  padding: 0.5% 0.5% 0.5% 0.5%;
  transition: transform 0.2s;
}

#hero a {
  text-decoration: none;
  color: white;
  margin: 0 20px 0 20px;
}

.nav-links li:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.portfolio-section {
  display: flex;
  padding: 0 40px 0 40px;
  /* flex-wrap: wrap; */
}

.portfolio-box {
  text-align: center;
  border-width: 2px;
  margin: 2px;
  border-color: #3171a5;
  border-style: solid;
  padding: 2%;
  width: 100%;
}

.portfolio-images {
  max-width: 100%;
  display: block;
}

#work {
  margin-bottom: 2em;
  /* background-color: white; */
}

#bio {
  padding: 4em;
  color: white;
}

.flex-parent {
  display: flex;
}

#bio p {
  margin-top: 20px;
  font-size: 1.2em;
  color: white;
  line-height: 40px;
  max-width: 900px;
}

@media (min-width: 768px) {
  .nav-links {
    margin-top: 0px;
    padding-top: 3%;
  }
  #hero a {
    margin: 0;
  }
  h1 {
    margin-top: 12%;
  }
  #bio p {
    margin: 0 auto 0 auto;
    padding: 40px;
  }

  #contact-info-list {
    padding-left: 50px;
  }

  #hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/QuandaryPeakFall2020.jpeg);
    background-attachment: fixed;
  }
}

.work-title {
  padding: 20px;
  margin: 2em 0 2em 0;
}

#contact {
  padding: 4em;
  overflow: hidden;
}

#contact li {
  list-style: none;
  text-decoration: none;
  color: white;
}

#contact a {
  text-decoration: none;
  color: white;
}

#contact-info-list {
  margin-bottom: 20px;
  width: 275px;
  height: auto;
  margin: auto;
}

.contact-card img {
  display: flex;
  /* float: left; */
  padding: 40px;
  margin: auto;
}

.contact-card ul {
  padding-left: 0;
  font-size: x-large;
}

#footer {
  text-align: center;
  padding: 30px 0 10px 0;

  margin-top: 2px;
}

.carousel-control-prev {
  color: black;
}

.carousel-control-next {
  color: black;
}

.carousel-item img {
  border: white;
  border-left-width: 50px;
  border-right-width: 50px;
}

.carousel-caption {
  background: white;
  padding: 10px;
  border: #3171a5;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
